
  <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                {{!-- <img src="../public/assets/img/server.jpg"> --}}
                <h1 class="display-4">Eat Da Burger!</h1>
                <p class="lead">Type in the burger you'd like to eat, and submit.</p>
            </div>
        </div>
        


    </header>

    <br>



<div class="col-lg-6">

{{#each burgers}}
    {{#unless this.devoured}}
        <div>
            <pre> {{this.id}}, {{this.burger_name}}</pre>
        
            <div>
                <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                    <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                    <br>
                    <button type="submit" class="btn btn-dark">DEVOUR IT</button>
                </form>
            </div>
        </div>


    {{/unless}}
{{/each}}


</div>

<div class="col-lg-6 task">
    {{#each burgers}}
        {{#if this.devoured}}
            <input class="form-control" type="text" placeholder="{{this.id}},{{this.burger_name}}" readonly>
        {{/if}}
    {{/each}}

</div>


<br>
<div class="container">
    <div class="row">
        <div class="text-center enter_section">
            <form action="/burgers/create" method="POST">
                <input type="text" name="burger_name" class="form-control" value="" id="enter_text">
                <button type="submit" class="btn btn-danger" id="text-enter-button">SUBMIT</button>
            </form>
        </div>
    </div>

</div>